.Button {
    cursor: pointer;
    color: var(--primary-color);
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.outline {
    border: 1px solid var(--primary-color);
    padding: 10px 15px;
    color: var(--primary-color);
    background-color: unset;
}
