:root {
    --bg-color: rgb(206 206 226);
    --inverted-bg-color: rgb(0 0 103);
    --primary-color: rgb(44 12 255);
    --secondary-color: rgb(36 14 231);
    --inverted-primary-color: rgb(11 222 11);
    --inverted-secondary-color: rgb(9 129 9);

    // redesigned
    --dark-bg-redesigned: #fff;
    --bg-redesigned: #eff5f6;
    --light-bg-redesigned: #e2eef1;
    --text-redesigned: #141c1f;
    --hint-redesigned: #adbcc0;
    --cancel-redesigned: #f77;
    --save-redesigned: #62de85;
    --icon-redesigned: #5ed3f3;
    --accent-redesigned: #00c8ff;

    // skeleton

    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;
    --card-bg: rgb(217 217 219);
    --listbox-bg: rgb(217 217 219);
    --dropdown-bg: rgb(217 217 219);
}
