.app.light {
    --bg-color: rgb(206 206 226);
    --inverted-bg-color: rgb(0 0 103);
    --primary-color: rgb(44 12 255);
    --secondary-color: rgb(36 14 231);
    --inverted-primary-color: rgb(9 129 9);
    --inverted-secondary-color: rgb(11 222 11);
}
