.app_red_theme {
    --bg-color: #fbf4f4;
    --inverted-bg-color: #ac241f;
    --primary-color: #8a2619;
    --secondary-color: #da250d;
    --inverted-primary-color: #dbd5dc;
    --inverted-secondary-color: #fbf4f4;

    // skeleton

    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;
    --card-bg: rgb(217, 217, 219);
}
