.app_red_theme {
    --bg-color: #fbf4f4;
    --inverted-bg-color: #ac241f;
    --primary-color: #8a2619;
    --secondary-color: #da250d;
    --inverted-primary-color: #dbd5dc;
    --inverted-secondary-color: #fbf4f4;

    // redesigned
    --dark-bg-redesigned: #fff3d6;
    --bg-redesigned: #f0c048;
    --light-bg-redesigned: #f2d791;
    --text-redesigned: #1b1311;
    --hint-redesigned: #b8b2a2;
    --cancel-redesigned: #ff5e5e;
    --save-redesigned: #52fa81;
    --icon-redesigned: #4875f0;
    --accent-redesigned: #1d59ff;

    // skeleton

    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;
    --card-bg: rgb(217 217 219);
    --listbox-bg: rgb(217 217 219);
    --dropdown-bg: rgb(217 217 219);
}
