.articleCreateBlock {
    background-color: var(--card-bg);
    padding: 16px;
}

.articleCreateBlockRedesigned {
    background-color: var(--light-bg-redesigned);
    padding: 16px;
    border-radius: 16px;
}
