.menu {
    background: var(--dark-bg-redesigned);
    position: absolute;
    z-index: 100;
    border-radius: 18px;
    border: 1px solid var(--accent-redesigned);
    display: flex;
    flex-direction: column;
}

.item {
    padding: 10px 25px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: var(--text-redesigned);
    cursor: pointer;
}
