.Navbar {
    padding: 16px;
}

.appName {
    width: var(--sidebar-width);
    margin-left: 15px;
}

.link,
.actions {
    margin-left: auto;
}

.NavbarRedesigned {
    padding: 10px;
}

.icon {
    margin-right: 10px;
}
