.card {
    padding: 15px;
    border-radius: 15px;
    width: fit-content;
}

.normal {
    background-color: var(--card-bg);
}

.outlined {
    border: 1px solid var(--primary-color);
}

.max {
    width: 100%;
}
